.obsidian/app.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/plugins/*/**
!.obsidian/plugins/*/**/main.js
!.obsidian/plugins/*/**/data.json
!.obsidian/plugins/*/**/styles.css
!.obsidian/plugins/*/**/manifest.json

.trash/
.vscode/
.idea/

conflict-files-obsidian-git.md

.DS_Store
Thumbs.db
